vim/after
vim/backup
vim/compiler
vim/doc
vim/indent
vim/nerdtree_plugin
vim/plugin
vim/ruby
vim/snippets
vim/syntax
vim/syntax_checkers
vim/tmp
vim/CHANGELOG
vim/README.markdown
vim/sessions
vim/undo

powerline-fonts/
tmux-powerline/
