vim/after
vim/autoload
vim/backup
vim/colors
vim/compiler
vim/doc
vim/ftdetect
vim/ftplugin
vim/indent
vim/nerdtree_plugin
vim/plugin
vim/ruby
vim/snippets
vim/syntax
vim/syntax_checkers
vim/tmp
vim/CHANGELOG
vim/README.markdown
