[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "powerline"]
	path = powerline
	url = git@github.com:Lokaltog/powerline.git
[submodule "zsh-custom/plugins/zsh-syntax-highlighting"]
	path = zsh-custom/plugins/zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "base16-shell"]
	path = base16-shell
	url = git@github.com:chriskempson/base16-shell.git
[submodule "zsh-custom/zsh-syntax-highlighting"]
	path = zsh-custom/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "dracula/vim"]
	path = dracula/vim
	url = https://github.com/dracula/vim
[submodule "dracula/zsh"]
	path = dracula/zsh
	url = https://github.com/dracula/zsh
[submodule "dracula/alfred"]
	path = dracula/alfred
	url = https://github.com/dracula/alfred
[submodule "dracula/slack"]
	path = dracula/slack
	url = https://github.com/dracula/slack
[submodule "dracula/pygments"]
	path = dracula/pygments
	url = https://github.com/dracula/pygments
[submodule "dracula/google-chrome"]
	path = dracula/google-chrome
	url = https://github.com/dracula/google-chrome
