theme = tokyonight
font-family = Monolisa Variable
font-thicken = true
{{- if eq .chezmoi.os "linux" }}
font-size = 12
{{- else }}
font-size = 14
{{- end }}
window-width = 195
window-height = 60
background-opacity = 0.9
keybind = ctrl+left_bracket=text:\x1b

{{- if eq .chezmoi.os "darwin" }}
keybind = cmd+left_bracket=text:\x1b
keybind = cmd+a=text:\x01
keybind = cmd+b=text:\x02
keybind = cmd+c=text:\x03
keybind = cmd+d=text:\x04
keybind = cmd+e=text:\x05
keybind = cmd+f=text:\x06
keybind = cmd+g=text:\x07
keybind = cmd+h=text:\x08
keybind = cmd+i=text:\x09
keybind = cmd+j=text:\x0a
keybind = cmd+k=text:\x0b
keybind = cmd+l=text:\x0c
keybind = cmd+n=text:\x0e
keybind = cmd+o=text:\x0f
keybind = cmd+p=text:\x10
keybind = cmd+q=text:\x11
keybind = cmd+r=text:\x12
keybind = cmd+s=text:\x13
keybind = cmd+v=text:\x16
{{- else }}
keybind = ctrl+left_bracket=text:\x1b
{{- end }}
# Tmux cmd bindings (because option is hard to reach sometimes)
keybind = cmd+,=text:\x01,
keybind = cmd+.=text:\x01.
mouse-hide-while-typing = true
