theme = tokyonight
font-family = Monolisa Variable
font-thicken = true
{{- if eq .chezmoi.os "linux" }}
font-size = 12
{{- else }}
font-size = 14
{{- end }}
window-width = 195
window-height = 60
background-opacity = 0.9
keybind = ctrl+left_bracket=text:\x1b

# Tmux cmd bindings (because option is hard to reach sometimes)
keybind = cmd+,=text:\x01,
keybind = cmd+.=text:\x01.
mouse-hide-while-typing = true
