Host *
{{- if eq .profile "personal" }}
  IdentityAgent /run/user/1000/ssh-agent.socket
{{- end }}
{{- if eq .profile "work" }}
  IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{- end }}
