{
  "mcpServers": {
    "github.com/modelcontextprotocol/servers/tree/main/src/filesystem": {
      "command": "npx",
      "args": [
        "-y",
        "@modelcontextprotocol/server-filesystem",
        "/Users/jesse/Documents/code"
      ]
    },
    "github.com/smithery-ai/mcp-obsidian": {
      "command": "npx",
      "args": ["-y", "mcp-obsidian", "/Users/jesse/Documents/Obsidian Vault"]
    },
    "github.com/modelcontextprotocol/servers/tree/main/src/time": {
      "command": "docker",
      "args": ["run", "-i", "--rm", "mcp/time"]
    }
  }
}
