[Unit]
Description=X Idle Hooks

[Service]
Type=simple
Environment=DISPLAY=:1
Environment=XIDLEHOOK_SOCK=%t/xidlehook.socket
ExecStart=/usr/bin/xidlehook --not-when-fullscreen --socket /run/user/1000/xidlehook.socket --timer 60 "xrandr --output eDP-1 --brightness .4" "xrandr --output eDP-1 --brightness 1" --timer 90 "loginctl lock-session" "xrandr --output eDP-1 --brightness 1" --timer 60 "xset dpms force standby" "xrandr --output eDP-1 --brightness 1"
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=i3-session.target
