{{- if eq .profile "personal" }}
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJzLmrh1vF7UVg2YABsslgTwDfs1SEa3dhqzrTc6zXpN
{{- end }}
{{- if eq .profile "work" }}
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIMPfFrKvbxFV2D0pNsEdHryGRukxDeLUhUsjHYYxuQDd
{{- end }}
