[user]
name = "Jesse Dearing"
{{- if eq .chezmoi.hostname "Camio" }}
email = "jesse@observablehq.com"
{{- else }}
email = "code@me.jesse.dev"
{{- end }}

[ui]
default-command = "log"
diff-editor = ["nvim", "-c", "DiffEditor $left $right $output"]

[merge-tools.diffconflicts]
program = "nvim"
merge-args = [
    "-c", "let g:jj_diffconflicts_marker_length=$marker_length",
    "-c", "JJDiffConflicts!", "$output", "$base", "$left", "$right",
]
merge-tool-edits-conflict-markers = true

[signing]
behavior = "own"
backend = "gpg"
{{- if eq .chezmoi.hostname "Camio" }}
key = "jesse@observablehq.com"
{{- else }}
key = "code@me.jesse.dev"
{{- end }}

[git]
push-new-bookmarks = true

[aliases]
tug = ["bookmark", "move", "--from", "heads(::@- & bookmarks())", "--to", "@-"]
