[user]
name = "Jesse Dearing"
email = "code@me.jesse.dev"

[ui]
default-command = "log"
pager = "delta"
diff-formatter = ":git"

[merge-tools.delta]
diff-expected-exit-codes = [0, 1]

[merge-tools.nvim]
program = "nvim"
merge-args = [
    "-c", "let g:jj_diffconflicts_marker_length=$marker_length",
    "-c", "JJDiffConflicts!", "$output", "$base", "$left", "$right",
]
merge-tool-edits-conflict-markers = true

[signing]
behavior = "own"
backend = "ssh"
key = "~/.config/git/signing_key.pub"

[aliases]
tug = ["bookmark", "move", "--from", "heads(::@- & bookmarks())", "--to", "@-"]
