snippet awsrole "AWS Assume Role URL"
https://signin.aws.amazon.com/switchrole?account=${1:account}&roleName=${2:OrganizationAccountAccessRole}&displayName=${3}
endsnippet

snippet nobodyuid "Typical UID for the nobody user in Linux"
65534
endsnippet
